@import url('../../styles/comunStyles');

.filters-menu {
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 1000;
  background-color: #fbfcfc;
  border-radius: 10px;
  margin: 0;
  box-shadow: -1px 2px 5px 1px rgb(60 57 62 / 33%);
  padding: 0.5rem 0.8rem !important;
  width: 460px;
  height: 96px;
}

.content-left {
  padding: 0 6px;
  /* padding del contenido principal de la izquierda */
}

.content-right {
  flex-grow: 1;
  /* para que contenido del panel lateral crezca lo que sobra de pantalla */
}

.box-margin {
  margin: 6px 10px;
  /* margen del panel lateral */
  width: 365px;
  margin-top: 35px;
}

.drawer-content {
  width: 100%;
  background-color: transparent;
  /* tamaño y color de fondo del panel lateral*/
}

.drawer-sidecontent {
  padding: 0;
  background-color: transparent;
  /* tamaño y color de fondo del contenido principal del drawer */
}

mat-drawer {
  padding: 0 !important;
  /* reducir margen del panel lateral */
}

.mat-drawer-side.mat-drawer-end {
  border: none;
  /* quita la linea divisoria entre el contenido y el panel abierto*/
}

.icon.disabled {
  color: #b3b3b3;
  /* para cambiar el color del icono de forma que parezca deshabilitado */
  cursor: default;
  /* para cambiar el cursor del icono de forma que parezca deshabilitado  */
}

/* Estilos del contenedor que genera una sombra en las grillas */
.background-table {
  box-shadow: 0px 0px 7px 1px rgb(64 60 67 / 16%);
  /* genera la sombra */
  border-radius: 10px !important;
  background-color: #ffffff;
  margin: 0.5rem 0;
  max-height: calc(100vh / 2 - 6.5rem);
  /* calcula el total del height de la pantalla y lo divide en 2 (ya que hay - sigue abajo -  */
  min-height: calc(100vh / 2 - 6.5rem);
  /* dos tablas en la vista) y luego resta 6 Rem para compensar el alto de los h1 */
  overflow: auto;
  /* agrega scroll de ser necesario */
}

.ng-star-inserted {
  padding: 0rem 1rem;
  /* ¿ padding interno general de grillas y otras cosas ? */
}

/* Estilos del HEADER de las grillas (TH) */
::ng-deep .p-datatable .p-datatable-thead>tr>th {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 0.3rem 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-size: 0.65rem;
  font-weight: 600;
  color: #142052;
  background: #f5f5f5;
  transition: box-shadow 0.2s;
  text-transform: uppercase;
  /* para que siempre se muestre en mayúscula */
}



::ng-deep .table-two .p-datatable .p-datatable-thead>tr>th {
  background: #d8e3c8;
}

::ng-deep .table-three .p-datatable .p-datatable-thead>tr>th {
  background: #fdf0ca;
}

/* Estilos del BODY de las grillas (TD) */
::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 0.3rem 1rem;
  font-size: 0.7rem;
  color: #142052;
}

/* ¿ algo relacionado al paginador ?
::ng-deep .p-datatable .p-paginator-bottom {
  font-size: 10px;
} */

::ng-deep .p-paginator {
  color: gray;
  /* ¿ algo relacionado al paginador ? */
}

.sticky-header {
  position: sticky !important;
  /* Para hacer sticky el header de las grillas */
  top: 0;
  /* Para fijar el header arriba de todo*/
  z-index: 100;
  /* Para cuando hay checkbox que se superponen con el header de la grilla */
}

.under-sticky {
  z-index: 0;
  /* Para que al hacer sticky el header no se superpongan los checkbox*/
}

:host ::ng-deep .p-datatable .p-datatable-wrapper {
  overflow-x: initial;
  /* Para hacer sticky el header */
}

:host ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
  background: #e8ebef;
  /* Color del estilo zebra */
}

:host ::ng-deep .table-two .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
  background: #d0e9a8;
  /* ESTILO ZEBRA TABLA DOS */
}

:host ::ng-deep .table-three .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
  background: #fbf0cc;
  /* ESTILO ZEBRA TABLA TRES */
}

.align-center {
  /* alinear columnas de grillas al centro, mismo nombre que en el align del ts*/
  text-align: center !important;
}

.align-end {
  /* alinear columnas de grillas a la derecha, mismo nombre que en el align del ts*/
  text-align: end !important;
}

.fit-column {
  width: 105px;
  /* Tamaño de las columnas más angostas, como código y acciones*/
}


:host ::ng-deep .p-datatable .p-datatable-tbody>tr.p-highlight {
  background: #a5d3f5;
}

:host ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even).p-highlight {
  background: #a5d3f5 !important;
}

:host ::ng-deep .table1 .p-datatable .p-datatable-tbody>tr.p-highlight {
  background: #68c18b;
}

:host ::ng-deep .table1 .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even).p-highlight {
  background: #68c18b !important;
}




:host ::ng-deep .table2 .p-datatable .p-datatable-tbody>tr.p-highlight {
  background: #ffb8b8;
}

:host ::ng-deep .table2 .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even).p-highlight {
  background: #ffb8b8 !important;
}
