.sidenav-custom {
  height: 100%;
  border-right: 3px ridge #afafaf1f;
  /* box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); */
}

.active-list-item {
  background-color: #e7e7e7;
}

.text {
  margin-left: 0.5rem;
  margin-right: 1.2rem;
  color: #8e8e8e;
  font-size: 11px;
  font-weight: 600;
  font-family: "Open Sans";
  white-space: nowrap;
  display: none;
}

.open-sidenav .text {
  display: inline-block;
}

.icon {
  color: #b5b5b5;
  font-size: 18px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav-content {
  padding-top: 4px;
}

.sidenav-content .mat-list-item {
  height: 44px;
}

:host /deep/ .mat-list-item-content {
  padding: 0 5px !important;
}

/*
mat-sidenav-container {
  height: calc(100% - 30px);
}

.shadow-navbar {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.sidenav {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.listaUno .mat-list-item {
  height: 44px;
}

:host /deep/ .mat-list-base {
  padding-top: 0;
}

:host /deep/ .mat-list-item-content {
  padding: 0 5px !important;
}

.text {
  margin-left: 0.5rem;
  margin-right: 1.2rem;
  color: #8e8e8e;
  font-size: 11px;
  font-weight: 600;
  font-family: "Open Sans";
  white-space: nowrap;
}

.text-margin {
  margin-left: 2.5rem;
  margin-right: 0.7rem;
  color: #8e8e8e;
  font-size: 11px;
  font-weight: 600;
  font-family: "Open Sans";
}

.icon {
  color: #b5b5b5;
  font-size: 18px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand {
  position: absolute;
  right: 4px;
}

.content {
  height: 100%;
  background-color: #f2f2f2;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;
  height: calc(100% - 44px);
} */
